
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section layout="row" flex style="min-height: Calc(100vh - 152px);">

    <md-sidenav class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="4"
                flex="20"
                flex-sm="40"
                flex-xs="50">

        <md-toolbar>
            <h1 class="md-toolbar-tools">Dashboard</h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="DashboardCtrl">
            <md-list>
                <md-subheader class="md-no-sticky">Main pages</md-subheader>
                <md-list-item ng-href="#/">
                    <p>Home</p>
                </md-list-item>
                <md-list-item ng-href="#users">
                    <p>Users</p>
                </md-list-item>
                <md-list-item ng-href="#settings">
                    <p>Settings</p>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <ng-view layout="column" flex ng-cloak>

    </ng-view>
</section>

@section Scripts
{
        <script src="~/Scripts/AppMain/DashboardCtrl.js"></script>
}
