<md-tabs md-dynamic-height md-border-bottom  md-colors="{background: 'primary'}"  style="border-radius: 0px;">

    <!-- Tabs -->

    <!-- Home tab -->

    <md-tab label="Home" >
        <md-content class="" ng-controller="HomeCtrl" ng-cloak >
            <section class="app-back-image md-padding app-fullheight--110" layout="row" style="background-image: url(@Url.Content("~/Content/Images/Landing/font_1.png"));" >
                <div flex="50" flex-md="40" flex-sm="95" flex-offset="5" layout="column">
                    <div flex="60">
                        <h2 flex="" class="md-display-1 app-white-main">Title</h2>
                        <h3 class="md-title app-white-main">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis urna id posuere dignissim. Cras congue arcu purus, ut lacinia nisl posuere in. Maecenas elit nulla, dictum at ullamcorper in, vestibulum feugiat urna. Aliquam erat volutpat. Aenean sem urna, bibendum ut tortor non, sagittis posuere augue. Maecenas ultrices convallis interdum. Phasellus consectetur ullamcorper posuere. Maecenas eu posuere justo, non lobortis elit. Vestibulum ullamcorper ipsum vel porttitor semper. Fusce eu tristique ante, in convallis odio. Proin sed lectus eleifend, scelerisque dolor sodales, bibendum tortor.
                        </h3>
                    </div>
                    <div flex="15"></div>
                    <div flex="25" layout="row" layout-align="space-around center"  layout-wrap>
                        <div flex="5"></div>
                        <div flex="60" layout="row" layout-align="space-around center" layout-wrap>
                            <md-button aria-label="landing button 1" class="md-raised md-primary">
                                Primary button
                            </md-button>

                            <md-button aria-label="landing button 1">
                                Second button
                            </md-button>
                        </div>
                        <div flex="35"></div>

                    </div>
                </div>
            </section>

            <section layout="row" class="app-fullheight">

            </section>

            <section layout="row" layout-align="center center" class="app-fullheight app-back-image" style="background-image: url('@Url.Content("~/Content/Images/Landing/fon_2.png")')"> 
                <div flex="45" hide-sm hide-xs>

                </div>
                <form flex="35" flex-sm="60" flex-xs="90" name="EmailMe" class="md-padding app-white-input">
                    <h1 style="text-align: center;" class="md-display-1 app-white-main">Оставте нам сообщение</h1>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Имя</label>
                            <input required ng-model="user.name" ng-disabled="user.complited">
                        </md-input-container>
                        <md-autocomplete required md-no-cache="true"
                                            md-selected-item="CitySelected"
                                            md-search-text="citySearchText"
                                            md-selected-item-change="ChangeCity(item)"
                                            md-items="item in AvaliableCities | filter : citySearchText"
                                            md-item-text="item.title"
                                            md-min-length="0"
                                            md-floating-label="Ваш город"
                                            ng-disabled="user.complited">
                            <md-item-template>
                                <span md-highlight-text="citySearchText" md-highlight-flags="^i">{{item.title}}</span>
                            </md-item-template>
                            <md-not-found>
                                <a ng-click="newCity(citySearchText)">Добавить {{citySearchText}}?</a>
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Email</label>
                            <input type="email" required ng-model="user.email" ng-disabled="user.complited"/>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Сообщение</label>
                            <textarea required ng-model="user.message" md-maxlength="300" rows="3" md-select-on-focus ng-disabled="user.complited"></textarea>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row" layout-align="center">
                        <md-button flex-lg="30" flex="40" flex-sm="60" ng-disabled="!user.isReady() || user.complited" ng-click="SendMessage()">
                            <span ng-show="!user.complited">Отправить</span>
                            <span ng-show="user.complited">Спасибо</span>
                        </md-button>
                    </div>
                </form>
            </section>


        </md-content>
    </md-tab>

    <!-- Tours tab -->

    <md-tab label="Tours">
        <md-content ng-controller="ToursCtrl" ng-init="Init()"  class="md-padding" layout="row" layout-align="center start" >
            <div flex="75" flex-md="85" flex-sm="100" flex-xs="100" class="" layout="column">
                <h1 class="md-display-2" flex="100">Tours</h1>

                <!-- Content -->
                <div flex="100" layout="row">
                    <div flex="75" flex-sm="100" flex-xs="100" ng-class="{'flex-100': ActiveTour !== null}" class="active-card">
                        <md-card ng-repeat="t in Tours" class="active-card">
                            <md-card-title style="padding: 8px 16px 0px 0px; min-height: 250px;">
                                <md-card-title-media flex="40" >
                                    <div ng-style="{'background-image': 'url('+ t.image.url +')'}" class="md-media-lg card-media app-back-image" style="width: 100%; height: 100%;">

                                    </div>
                                </md-card-title-media>
                                <md-card-title-text style="text-align: right; position: relative;">
                                    <span class="md-headline">{{t.description.title}}</span>
                                    <span class="md-subhead">{{t.price | currency : '$' : 2}}</span>
                                    <span class="md-subhead">{{t.days}} дней</span>
                                    <span class="md-subhead" ng-if="t.child + t.adult !== 0">{{t.child + t.adult}} человек</span>
                                    <div style="position: absolute; width: 100%; bottom: 8px;" layout="row" ng-show="ActiveTour === null">
                                        <md-button href="{{GetTourOrderLink(t.id)}}">
                                            Оформить
                                        </md-button>
                                        <div flex></div>
                                        <md-button class="md-raised" ng-click="SetActive(t);">
                                            Детально
                                        </md-button>
                                    </div>
                                </md-card-title-text>

                            </md-card-title>
                            <md-card-content flex style="padding-top: 16px;" ng-show="ActiveTour === t" ng-bind-html="t.description.description">
                            </md-card-content>
                            <md-card-actions ng-show="ActiveTour !== null" layout="row" layout-align="end center">
                                <md-button href="{{GetTourOrderLink(t.id)}}">К оформлению</md-button>
                                <md-button ng-click="SetActive(t);" ng-show="ActiveTour !== t">Детально</md-button>
                                <md-button ng-click="SetActive(null);" ng-show="ActiveTour === t">Hide</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>


                    <!-- Sidebar -->

                    <md-card flex="25" show-gt-sm hide ng-class="{'none': ActiveTour !== null}">

                    </md-card>
                </div>

                

            </div>
        </md-content>
    </md-tab>

    <!-- Hotels tab-->

    <md-tab label="Hotels">
        <md-content class="md-padding" ng-controller="HotelCtrl" ng-init="Init()" layout="row" layout-align="center start">
            <div flex="75" flex-sm="85" flex-xs="100">
                <h1 class="md-display-2">Our hotels</h1>
                <div layout="row" layout-align="center start">
                    <div flex="75" flex-sm="100" flex-xs="100">
                        <md-card ng-repeat="h in Data">
                            <md-card-title style="padding: 8px 16px 0px 0px; min-height: 250px;">
                                <md-card-title-media flex="50" flex-sm="40" flex-xs="40">
                                    <div class="md-media-lg card-media app-back-image" ng-style="{'background-image': 'url(' + h.images[0].url +')'}" style="width: 100%; height: 100%;"> 

                                    </div>
                                </md-card-title-media>
                                <md-card-title-text style="padding-left: 8px; position: relative;">
                                    <span class="md-headline">{{h.title}}</span>
                                    <lt-hotel-rate rate="h.rate" size="24"></lt-hotel-rate>
                                    <span class="md-subhead">{{IsAvaliable(h)}}</span>
                                    <div style="position: absolute; bottom: 8px; width: 100%;" layout="row" layout-align="center center">
                                        <md-button flex="50" flex-sm="60" flex-xs="70" class="md-button" ng-click="ShowDialog($event, h)">
                                            More
                                        </md-button>
                                    </div>
                                </md-card-title-text>

                            </md-card-title>

                        </md-card>
                    </div>
                    <div flex="25" hide-sm hide-xs>

                    </div>
                </div>
            </div>
        </md-content>
    </md-tab>

    <!-- About tab -->

    <md-tab label="About">
        <md-content class="md-padding">
            <h1 class="md-display-2">About</h1>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
    </md-tab>
</md-tabs>

    <!-- Fab -->

<div ng-controller="FabCtrl">

    <md-button ng-show="UpScrollVisible" smooth-scroll target="tool-bar" ng-click="ScrollUp()" class="md-fab app-fab-main md-whiteframe-8dp app-fade" aria-label="Up button">
        <md-icon class="material-icons app-white-main">keyboard_arrow_up</md-icon>
    </md-button>

    <md-fab-speed-dial ng-show="!UpScrollVisible" md-open="IsFabOpen" md-direction="up" class="md-fling app-fab-main app-fade app-fab-rotation">
        <md-fab-trigger class="">
            <md-button aria-label="menu" class="md-fab md-whiteframe-8dp ">
                <md-icon class="material-icons app-anim">add</md-icon>
            </md-button>
        </md-fab-trigger>

        <md-fab-actions>
            <md-button aria-label="Tel" class="md-fab md-raised md-mini">
                <md-icon aria-label="Tel" class="material-icons">phone</md-icon>
            </md-button>
            <md-button aria-label="Message" class="md-fab md-raised md-mini" ng-click="OpenMessageDialog($event)">
                <md-icon aria-label="Message" class="material-icons">message</md-icon>
            </md-button>
            <md-button aria-label="Mail" class="md-fab md-raised md-mini">
                <md-icon aria-label="Mail" class="material-icons">mail</md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>

<!-- End fab -->


    @section Scripts
{
        <script src="~/Scripts/AppMain/ContentCtrl_Index.js"></script>
    }

<style>
    .none{
        display: none;
    }

    md-card{
        margin: 16px 8px;
    }
    .active-card
    {
        transition: all ease-out 400ms;
    }

    md-card-content.ng-hide-add {
        
    }
    md-card-content.ng-hide-remove {
        transition: all 0.5s ease-out;
    }

    md-card-content{
        opacity: 1;
    }
    
    md-card-content.ng-hide {
        opacity: 0;
    }


</style>