<div flex layout-gt-sm="row"  layout-sm="column" layout-xs="column" layout-align="center start" layout-wrap>
    <md-card flex="30">
        <md-card-header>
            <md-card-header-text>
                <h3 class="md-headline">Chart 1</h3>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <canvas id="line" class="chart chart-line" chart-data="Chart1Data"
                    chart-labels="Chart1Lables" chart-series="Chart1Series"></canvas>
        </md-card-content>
    </md-card>
    <md-card flex="65">
        <md-card-header>
            <md-card-header-text>
                <h3 class="md-headline">Chart 1</h3>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <canvas id="line" class="chart chart-line" chart-data="Chart1Data"
                    chart-labels="Chart1Lables" chart-series="Chart1Series"></canvas>
        </md-card-content>
    </md-card>

    <md-card flex="20">
        <md-card-header>
            <md-card-header-text>
                <h3 class="md-headline">Chart 1</h3>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <canvas id="line" class="chart chart-line" chart-data="Chart1Data"
                    chart-labels="Chart1Lables" chart-series="Chart1Series"></canvas>
        </md-card-content>
    </md-card>

    <md-card flex="30">
        <md-card-content>
            <canvas id="line" class="chart chart-line" chart-data="Chart1Data"
                    chart-labels="Chart1Lables" chart-series="Chart1Series"></canvas>
        </md-card-content>
    </md-card>

    <md-card flex="45">
        <md-card-content>
            <canvas id="line" class="chart chart-line" chart-data="Chart1Data"
                    chart-labels="Chart1Lables" chart-series="Chart1Series"></canvas>
        </md-card-content>
    </md-card>

    <md-card flex="50">
        <md-card-content>
            <canvas id="doughnut" class="chart chart-doughnut"
                    chart-data="Chart1Data" chart-labels="Chart1Lables"></canvas>
        </md-card-content>
    </md-card>

    <md-card flex="45">
        <md-card-content>
            <canvas id="doughnut" class="chart chart-doughnut"
                    chart-data="Chart1Data" chart-labels="Chart1Lables"></canvas>
        </md-card-content>
    </md-card>
</div>